@model Forum.Models.Comment
@using Forum.Models;

@{ 
    ApplicationDbContext Database = new ApplicationDbContext();
    var user = Database.Users.First(f => f.Id == Model.UserID);
    var name = user.UserName;
}

<!--<ul class="CommentChunk">
    <li class="list-group-item">@Model.Body
    @name
        <a href="...">share</a>
        <a href="...">edit</a>
    </li>

</ul>-->



<div class="commentChunk">
    <div class="col-md-offset-3">
        <p>@Model.Body</p>
    </div>
    <div>
        <div class="col-md-offset-1">
            <a href="...">share</a>
            <a href="...">edit</a>
        </div>
        <div class="col-md-offset-9">
            <p>@name</p>
        </div>       
    </div>  
</div>
