@model Forum.Models.Post

@{ 
    var voteCounter = Model.UpVoteCount - Model.DownVoteCount;
}


    <button onclick="upVote(@Model.ID);">^</button><span>@voteCounter</span><button onclick="downVote(@Model.ID);">v</button>
