body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.navbar-fixed-top {
    border-top: 3px solid #F48024;
    background-color: #f9f8f7;
}

.navbar-inverse {

}

.splash {
    background-color: #v;
    border-bottom: 2px solid lightblue;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

}

#colorstrip {
    width: 2%;
    height: 2px;
    border-style: solid;
    border-color: #F48024;
    margin-bottom: 10px;
}

.partialContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.commentChunk {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f9f8f7;
}
